/* .card-height {
    min-height: 350px;
    /* left: 31px; */
    /* z-index: 1;
    background: linear-gradient(0deg, white, transparent);
    bottom: 359px;
*/

.filter--overlay {
    position: absolute;
    left: 0;
    z-index: 99;
    background: linear-gradient(0deg, white, transparent);
    height: 100px;
    bottom: 359px;
    width: 100%;

}