.title {
    font-family: 'Cardo', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.menu-bars {
    font-size: 2rem;
    background: none;
}

.side-menu {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 20px;
    align-content: center;
}

.border-t {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav-menu {
    width: 100%;
    height: 100%;
    display: none;
}

.nav-menu.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #131313;
    padding-bottom: 30px;
    transition: all 2s ease;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
}

.nav-links {
    font-size: 30px;
    margin-top: 30px;
}

.nav-text a {
    color: red;
}

@media (max-width: 1147px) {
    .nav-menu.active {
        justify-content: center;
    }
}