.title {
    font-family: 'Cardo', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.menu-bars {
    font-size: 2rem;
    background: none;
}

.side-menu {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    align-content: center;
}
.nav-menu {
    width: 100%;
    height: 93vh;
    display: none;
    transition: all 2s ease;
}

.nav-menu.active {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
}

.nav-links {
    font-size: 30px;
    margin-top: 30px;
}

.nav-text a {
    color: red;
}

